{% extends "ui/layouts/base.html" %}
{% load i18n %}

{% block title %} {% trans "Edit booking" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">{% trans "Edit booking" %}</h4>
                    <p class="card-category">Modify a booking</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Status of the booking" %}</label>
                                    {{ form.status }}
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Lodging" %}</label>
                                    {{ form.lodging }}
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Guest" %}</label>
                                    {{ form.guest_name }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Guest contact" %}</label>
                                    {{ form.guest_contact }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Guest address" %}</label>
                                    {{ form.guest_address }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Night" %}</label>
                                    {{ form.duration }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "From" %}</label>
                                    {{ form.begin_date }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "To" %}</label>
                                    {{ form.end_date }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
