$font-weight-light: 300;
$font-weight-medium: 400;
$border-color: #ccc;
$primary-blue: #3b4aff;
$secondary-blue: #3ea7ff;
$primary-grey: #9a9a9a;
$secondary-grey: #ececec;
$today-color: #ff00001c;
$cancellation-color: rgb(255, 232, 234);
$primary-black: #002333;
$primary-red: #f45b69;

//*:not(html) {
//    -webkit-transform: translate3d(0, 0, 0);
//}

.timeline-view {
  --motion-duration-slow: 0.3s;
  --color-split: rgba(5, 5, 5, 0.23);
  --line-width: 1px;
  --header-width: 100px;
  --header-width-colapsed: 30px;

  position: relative;

  .table-full-width{
    overflow: hidden;

    table {
      overflow: hidden;
    }
  }

  .table-responsive {
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: auto; // Safari
    -webkit-transform: translate3d(0, 0, 0); // Safari optimization
    backface-visibility: hidden;
    transform-style: preserve-3d;

    //&::-webkit-scrollbar {
    //  height: 8px;
    //}
    //
    //&::-webkit-scrollbar-track {
    //  background: #eee;
    //}
    //
    //&::-webkit-scrollbar-thumb {
    //  border-radius: 0.25rem;
    //  background-color: rgba(167, 167, 167, 1);
    //}
  }

  table {
    text-indent: initial;
    border-spacing: 0;
    //border-collapse: collapse;
    table-layout: fixed;
  }

  //.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  //  vertical-align: middle;
  //}

  thead {

    tr {

      &:first-child {
        border-top: 1px solid $border-color;
        padding-top: 1px;

        th {
          background-color: var(--background-color);
          border-top: 1px solid $border-color;
          border-right: 2px solid $border-color;
          font-style: normal;
          font-weight: $font-weight-medium;
          font-size: 1rem;
          line-height: 10px;
          height: 32px;

          //&:nth-child(2) {
          //  text-overflow: ellipsis;
          //  overflow: hidden;
          //  white-space: nowrap;
          //}

          &:nth-child(n+2) {
            position: relative;
          }

          .month {
            position: relative;
            display: flex;

            .month-label {
              position: sticky;
              left: calc(var(--header-width) + 20px);
              margin-left: 20px;
              margin-right: 20px;
              text-wrap: nowrap;
            }
          }
        }
      }

      &:nth-child(2) th {
        height: 31px;
        padding-bottom: 0;
        font-style: normal;
        font-weight: $font-weight-light;
        font-size: 0.9rem;
        line-height: 1.5;
      }

      th {
        border-top: none;
        font-weight: $font-weight-light;

        &:first-child {
          background-color: var(--background-color);
        }

        &.lodging-name-col {
          border: none;
          border-right: 1px solid $border-color;
          height: 42px;
        }

        &.day {
          font-size: 0.9rem;
          &.narrow {
            font-size: 0.7rem;
          }
        }

        &.weekend {
          color: $primary-blue;
        }

      }

      td {

        &.lodging-name-col {
        }
      }
    }
  }

  tbody {
    tr:last-child {
      border-top: 2px solid $primary-black !important;

      td.day {
        border-top: 2px solid $primary-black !important;
        border-bottom: 1px solid #ccc;
      }
    }

    tr {
      td:first-child {
        background-color: $secondary-grey;
      }
    }

    td {
      text-align: center;

      &.day {
        position: relative;
      }

      .day-price {
        //position: absolute;
        top: 0;
        right: 0;
        font-size: 0.6rem;
        color: $primary-grey;

      }

      &.today .day-price {
        color: $secondary-grey;
      }

      .departureSpan, .newBookingDepartureSpan, .arrivalSpan, .newBookingArrivalSpan {

        top: 0;
        right: 0;
        position: absolute;
        filter: brightness(93%);
        -webkit-filter: brightness(93%);
        width: 60px;
        height: 35px;
      }

      .departureSpan, .newBookingDepartureSpan {
        margin-right: 1px;
      }

      .dayContent {
        position: relative;
      }

      &.extendedDeparture {

        .dayContent {
          filter: brightness(93%);
          -webkit-filter: brightness(93%);

          .dayText {
            color: transparent;
            opacity: 0.5;

            &.isDeparture {
              color: inherit;
            }
          }
        }

        &[data-booking-end] {

          .departureSpan {
            display: none !important;
          }
        }
      }
    }
  }

  td:first-child, th:first-child {
    position: sticky;
    width: var(--header-width);
    left: 0;
    z-index: 99;
    line-height: 20px;
    border-right: 1px solid $border-color;

    &::after {
      box-shadow: inset 10px 0 8px -8px var(--color-split);
      position: absolute;
      top: 0;
      right: 0;
      bottom: calc(var(--line-width) * -1);
      width: 30px;
      transform: translateX(100%);
      //transition: box-shadow var(--motion-duration-slow);
      content: "";
      pointer-events: none;

    }
  }

  .third-tr {

    td:first-child {
      border-left: none;
      border-bottom: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    td {
      height: 25px;
    }
  }

  tr:last-child {

    &:not(.third-tr) {

      .lodging-name-col {
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
      }

      td.day {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .collapse-button {
    min-width: inherit;
  }

  .lodging-name-col {
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    min-width: var(--header-width);
    max-width: var(--header-width);
    text-overflow: ellipsis;
    white-space: nowrap;

    &>div {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      height: 100%;
      padding: 4px;
    }

    &.collapsed {
      min-width: var(--header-width-colapsed);
      max-width: var(--header-width-colapsed);
      width: var(--header-width-colapsed);

    }

    .lodging-name {
      text-overflow: ellipsis;
      overflow-x: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
    }

    a {
      text-decoration: none;
      color: black;
      border-bottom: 0;
    }
  }

  .lodging-name-col.cancelled {
    font-style: italic;
    background-color: $cancellation-color;
  }

  .valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* vendor prefixes omitted due to brevity */
  }

  th.day,
  td.day {
    border-top: 0.5px solid $border-color;
    border-right: 0.5px solid $border-color;
    border-left: none;
    //padding: 5px 0;
    background-clip: padding-box; /* fix for Firefox */

    &.weekend {
      background-color: $secondary-grey;
    }

    &.end-of-month {
      border-right: 2px solid $border-color;
    }


    &.today {
      background-color: $today-color;
    }
  }

  td.day {
    //padding: 5px 0;
    white-space: nowrap;
    font-size: 1rem;
    //box-sizing: border-box;
    //margin: 2px;
    vertical-align: center;
    text-align: right;

    &:hover:not(:has(.item:hover)):not(.busy) {
      //border: 2px solid $border-color;
      box-shadow: inset 0 0 0 2px $border-color;
      //margin: 2px;
      //border-right: 1px solid $border-color;
    }

    &.selected.selection-start.selection-end {
      box-shadow: inset 0 0 0 2px $primary-black !important;
    }

    &.selected.selection-start {
      box-shadow: inset 2px 0 0 2px $primary-black !important;
      cursor: no-drop !important;
    }

    &.selected {
      box-shadow: inset 0 2px 0 0 $primary-black, inset 0 -2px 0 0 $primary-black !important;
      cursor: copy !important;
    }

    &.selected.selection-end {
      box-shadow: inset -2px 0 0 2px $primary-black !important;
    }

    &.available {
      cursor: pointer;
    }

    .guestName {
      pointer-events: none;
      font-style: normal;
      line-height: 17px;
      position: absolute;
      z-index: 20;
      top: 17px;

      &.shortName {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .item {
    position: relative;
    display: flex;
    font-size: 12px;
    color: black;
    cursor: pointer;
    background: rgb(250, 172, 234);
    border: 1px solid rgb(26, 111, 179);
    z-index: 10;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    left: 10px;
    //bottom: 4px;

    &:hover {
      border-left-width: 3px;
      border-right-width: 3px;
      border-color: orange;
    }

    .item-title {
      display: inline;
      //overflow: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: text-bottom;
      margin-left: 5px;
      margin-right: 10px;
      position: sticky;
      left: calc(var(--header-width) + 4px);
    }

    .item-icon {
      color: black;
      font-size: 1em;
      position: absolute;
      right: 0;
      top: 0;
      border-left: 1px solid black;
      height: 100%;
    }


    .partially-paid {
      background: orange;
    }

    .fully-paid {
      background: rgb(182, 230, 158);
    }

  }

  .collapsed .item .item-title {
    left: calc(var(--header-width-colapsed) + 4px);
  }

}

