.public-DraftEditor-content {
    .page-break {
        position: relative;
        clear: both;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page-break__label {
        position: relative;
        z-index: 1;
        padding: .3em .6em;
        display: block;
        text-transform: uppercase;
        border: 1px solid #c4c4c4;
        border-radius: 2px;
        font-family: Helvetica, Arial, Tahoma, Verdana, sans-serif;
        font-size: .75em;
        font-weight: 700;
        color: #333;
        background: #fff;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, .15);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .page-break:after {
        content: "";
        position: absolute;
        border-bottom: 2px dashed #c4c4c4;
        width: 100%;
    }
}
