{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %} {% trans "Bookings" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{% trans "Bookings" %}</h4>
                    <p class="card-category"> List of bookings</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>{% trans "arrival" %}</th>
                            <th>{% trans "departure" %}</th>
                            <th>{% trans "lodging" %}</th>
                            <th>{% trans "guest" %}</th>
                            <th>{% trans "status" %}</th>
                            <th>{% trans "price" %}</th>
                            <th>{% trans "action" %}</th>
                            </thead>
                            <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td>
                                        {{ booking.begin_date }}
                                    </td>
                                    <td>
                                        {{ booking.end_date }}
                                    </td>
                                    <td>
                                        {{ booking.lodging.name }}
                                    </td>
                                    <td>
                                        {{ booking.guest_name }}
                                    </td>
                                    <td style="background-color: #{{ booking.status.color }}">
                                        {{ booking.status }}
                                    <td class="text-primary">
                                        {{ booking.price }} &euro;
                                    </td>
                                    <td>
                                        <a href="{% url 'booking-update' booking.pk %}">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
