{% extends "page_base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Change your password" %}{% endblock %}
{% block body %}
    <div class="splash-container">
        <div class="splash">
            <div class="splash-head">
            <img class="reset-password-image" src="{% static 'images/reset-password.png' %}" width="200">
            </div>
            <form class="pure-form pure-form-stacked reset-password-form" method="post">
                <fieldset>
                    <legend>{% translate "Now let's set a new password" %}</legend>
                    <label for="stacked-password">{% translate "Insert the new password" %}</label>
                    <input
                        type="password" id="stacked-password" name="password"
                        placeholder="{% translate "New password" %}"
                    />
                    {#                    <span class="pure-form-message">This is a required field.</span>#}
                    <div class="pure-controls" style="margin-top: 1em">
                        <button
                            type="submit" class="pure-button pure-button-primary"
                        >{% translate "Update your password" %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
