{% extends "page_base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Change your password" %}{% endblock %}
{% block body %}
    <div class="splash-container">
        <div class="splash" style="text-align: center">
            <div class="splash-head">
                <img class="reset-password-image" src="{% static 'images/reset-password.png' %}" width="200">
            </div>
            <div class="splash-subhead">
                    {% translate "Password updated!" %}
            </div>
            <a class="pure-button pure-button-primary" href="/" style="margin-top: 2em">
                {% translate "Sign in" %}
            </a>
        </div>
    </div>

{% endblock %}
