{% load settings %}
{% load menus %}
{% load i18n %}
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
          {% settings_value "APP_NAME" %}
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% active 'home' %}">
            <a class="nav-link" href="{% url "home" %}">
              <i class="material-icons">dashboard</i>
              <p>{% trans "Dashboard" %}</p>
            </a>
          </li>
{#          <li class="nav-item {% active 'messages' %}">#}
{#            <a class="nav-link" href="{% url "messages" %}">#}
{#              <i class="material-icons">message</i>#}
{#              <p>{% trans "Messages" %}</p>#}
{#            </a>#}
{#          </li>#}
          <li class="nav-item {% active 'planning' %}">
            <a class="nav-link" href="{% url "planning" %}">
              <i class="material-icons">calendar_today</i>
              <p>{% trans "Planning" %}</p>
            </a>
          </li>
          <li class="nav-item {% active 'bookings' %}">
            <a class="nav-link" href="{% url "bookings" %}">
              <i class="material-icons">list</i>
              <p>{% trans "Bookings" %}</p>
            </a>
          </li>
          <li class="nav-item {% active 'prices' %}">
            <a class="nav-link" href="{% url "prices" %}">
              <i class="material-icons">attach_money</i>
              <p>{% trans "Prices" %}</p>
            </a>
          </li>
          <li class="nav-item {% active 'contacts' %}">
            <a class="nav-link" href="{% url "contacts" %}">
              <i class="material-icons">group</i>
              <p>{% trans "Contacts" %}</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link">
                <p>---</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/ui/page-user.html">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/ui-tables.html">
              <i class="material-icons">content_paste</i>
              <p>Table List</p>
            </a>
          </li>
{#          <li class="nav-item ">#}
{#            <a class="nav-link" href="/ui-typography.html">#}
{#              <i class="material-icons">library_books</i>#}
{#              <p>Typography</p>#}
{#            </a>#}
{#          </li>#}
          <li class="nav-item ">
            <a class="nav-link" href="/ui-icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
{#          <li class="nav-item ">#}
{#            <a class="nav-link" href="/ui-maps.html">#}
{#              <i class="material-icons">location_ons</i>#}
{#              <p>Maps</p>#}
{#            </a>#}
{#          </li>#}
          <li class="nav-item ">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          
{#          <li class="nav-item ">#}
{#            <a class="nav-link" href="/page-rtl-support.html">#}
{#              <i class="material-icons">language</i>#}
{#              <p>RTL Support</p>#}
{#            </a>#}
{#          </li>#}

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

          <li class="nav-item active-pro ">
            <a class="nav-link" href="https://appseed.us/admin-dashboards/django-dashboard-material">
              <i class="material-icons">unarchive</i>
              <p>See product</p>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}

    </div>
