.planning {
  padding: 8px;

  .planning-legend {
    padding: 24px;
  }

  .status-legend-title {
    font-size: larger;
    font-weight: bold;
  }

  .status-legend {
    border: solid 1px;
    //font-size: x-small;
    margin: 4px 5px;
    padding: 4px;
    white-space: nowrap;
    line-height: 3em;
  }
}
