.planning {
  position: relative;
  top: -50px;
  padding: 8px;

  .planning-legend {
    padding: 24px;
  }

  .toolbar {
    text-align: right
  }

  .delete-button {
    color: red;
  }

  .status-legend {
    border: solid 1px;
    //font-size: x-small;
    margin: 4px 5px;
    padding: 4px;
    white-space: nowrap;
    line-height: 3em;
  }
}
