.booking-scheduler {

  .react-calendar-timeline * {
    font-size: x-small;
  }

  .react-calendar-timeline {

    .collapse-button {
      border: 1px black solid;
      height: 100%;
    }

    .timeline-header {
      background: grey;
    }
    .calendar-header {
    }

    .rct-dateHeader * {
      font-size: xx-small;
    }

    .rct-scroll {
      overflow-x: hidden;
    }
  }


  .disabled {
    opacity: 0.3;
  }

  .collapse-button {
    width: 100%;
    min-width: inherit;
    padding: inherit;
    height: 30px;
  }

  .backdrop {
    z-index: 10000;
    color: #fff
  }

  .lodging {
    text-overflow: ellipsis
  }

  .group-separator {
  }

  .special-group {
    font-weight: bold
  }

  .timeline {
    margin-bottom: 10px;
  }

  .timeline-header {
    height: 30px
  }

  .date-header {
    height: 10px
  }

  @import "../TimelineCommon";
}
